
:root {
    --navHeight: 70px;
    --sage: #d2cca1;
    --paleSpringBud: #dedaba;
    --goldCrayola: #e5c687;
    --richBlackForeground: #0f1a20;
    --white: #ffffff;
    --black: #1a1a1a;
    --msuGreen: #2d4739;
    --gray: #eee;
    --space: #827452;
    --neonYellow: #E0E722;
}

* {
    --themeDropDownBg: var(--goldCrayola);
    --themeIconBorderColor: var(--sage);
    --themeSwitchColor: var(--sage);
    --navBg: var(--sage);
    --navLinkHoverBg: var(--paleSpringBud);
    --mainBg: var(--goldCrayola);
    --fontColor: var(--black);
    --normalBg: var(--white);
    --spaceBG: var(--space);
    --neonLight: var(--neonYellow);
}
  
.darkMode {
    --themeDropDownBg: var(--msuGreen);
    --themeIconBorderColor: var(--richBlackForeground);
    --themeSwitchColor: var(--msuGreen);
    --navBg: var(--richBlackForeground);
    --navLinkHoverBg: var(--msuGreen);
    --mainBg: var(--msuGreen);
    --fontColor: var(--white);
    --normalBg: var(--black);
    --spaceBG: var(--black);
    --neonLight: var(--white);
}

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  background: #ffffff;
  color: #1a1a1a;
  &.darkMode {
    background: #1a1a1a;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
    a {
      color: #ffffff;
    }
    #header {
      background: #0f1a20;
      .logo {
        a {
          .logo-normal {
            display: none;
          }
          .logo-dark {
            display: block;
          }
        }
      }
    }
    .themeSwitch {
      div {
        background: #eee;
      }
    }
  }
}
