@import url("http://fonts.cdnfonts.com/css/montserrat");
@layer reset, common, main;

:root {
  accent-color: rgb(255, 255, 128);
}

#visual {
  overflow: hidden;
  position: relative;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  cursor: none;
  .shapes {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #2128bd;
    overflow: hidden;
  }
  .shape {
    will-change: transform;
    position: absolute;
    border-radius: 50%;
    $shapes: (
      #005ffe: 650px,
      #ffe5e3: 440px,
      #ffcc57: 270px,
    );
    @each $color, $size in $shapes {
      &.shape-#{index($shapes, ($color $size))} {
        background: $color;
        width: $size;
        height: $size;
        margin: (-$size/2) 0 0 (-$size/2);
      }
    }
  }
  .visual-text {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    mix-blend-mode: screen;
    h1 {
      // @include rf(100, 200);
      color: #ffcc57;
      margin: 0;
      text-align: center;
    }
  }
  .cursor {
    position: fixed;
    background: #2128bd;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    will-change: transform;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
  }

  &::selection {
    color: #fff;
    background: #2128bd;
  }

  .star-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .stars-1 {
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 185px 719px #fff, 1158px 859px #fff, 199px 1717px #fff,
        1510px 885px #fff, 499px 1413px #fff, 1397px 173px #fff,
        465px 946px #fff, 1940px 1146px #fff, 1038px 1445px #fff,
        367px 922px #fff, 1300px 197px #fff, 1266px 571px #fff, 830px 377px #fff,
        1056px 995px #fff, 683px 216px #fff, 1733px 159px #fff, 992px 345px #fff,
        1077px 1864px #fff, 1508px 1104px #fff, 1812px 188px #fff,
        877px 1291px #fff, 666px 609px #fff, 929px 1338px #fff,
        1871px 1353px #fff, 553px 1841px #fff, 1710px 47px #fff,
        46px 1849px #fff, 1884px 1825px #fff, 1801px 1442px #fff,
        965px 614px #fff, 1876px 565px #fff, 800px 594px #fff,
        1097px 1028px #fff, 870px 835px #fff, 1773px 1786px #fff,
        1393px 1250px #fff, 757px 1171px #fff, 1944px 213px #fff,
        1075px 801px #fff, 1582px 952px #fff, 451px 1323px #fff,
        1410px 1152px #fff, 1183px 701px #fff, 1183px 1532px #fff,
        244px 951px #fff, 165px 1634px #fff, 521px 513px #fff,
        1328px 1310px #fff, 1352px 315px #fff, 1670px 1633px #fff,
        333px 748px #fff, 339px 59px #fff, 45px 1084px #fff, 1795px 1148px #fff,
        1992px 715px #fff, 1762px 1074px #fff, 470px 358px #fff,
        644px 524px #fff, 550px 1574px #fff, 1610px 1086px #fff,
        667px 625px #fff, 1588px 1295px #fff, 404px 278px #fff,
        1592px 305px #fff, 1846px 1343px #fff, 314px 120px #fff,
        1338px 188px #fff, 47px 1929px #fff, 26px 1472px #fff, 97px 639px #fff,
        787px 1741px #fff, 1683px 1309px #fff, 897px 167px #fff,
        1576px 454px #fff, 368px 1241px #fff, 445px 1687px #fff,
        1876px 113px #fff, 1415px 1950px #fff, 1916px 1189px #fff,
        16px 605px #fff, 1724px 1444px #fff, 1437px 1581px #fff,
        1243px 633px #fff, 1417px 1364px #fff, 974px 836px #fff,
        200px 360px #fff, 999px 1230px #fff, 1px 1670px #fff, 1253px 905px #fff,
        7px 1574px #fff, 1911px 568px #fff, 691px 1888px #fff, 736px 1529px #fff,
        33px 12px #fff, 1119px 347px #fff, 1626px 1325px #fff, 677px 157px #fff,
        1623px 874px #fff, 539px 652px #fff, 1708px 1246px #fff,
        1947px 1198px #fff, 160px 1928px #fff, 1069px 783px #fff,
        1823px 944px #fff, 1652px 1709px #fff, 1631px 1467px #fff,
        1430px 854px #fff, 1268px 857px #fff, 1346px 1334px #fff,
        1499px 1845px #fff, 609px 1317px #fff, 990px 19px #fff,
        723px 1304px #fff, 1783px 691px #fff, 1400px 111px #fff,
        988px 1344px #fff, 426px 1514px #fff, 1875px 473px #fff,
        1890px 1712px #fff, 15px 127px #fff, 1368px 936px #fff,
        1730px 166px #fff, 571px 987px #fff, 1281px 175px #fff,
        1003px 1664px #fff, 530px 235px #fff, 332px 1461px #fff,
        664px 1539px #fff, 1370px 1966px #fff, 993px 1072px #fff,
        1689px 1117px #fff, 1237px 199px #fff, 1265px 994px #fff,
        799px 1346px #fff, 933px 959px #fff, 1893px 157px #fff,
        1575px 729px #fff, 730px 939px #fff, 704px 913px #fff, 448px 1753px #fff,
        839px 1082px #fff, 322px 298px #fff, 1401px 1161px #fff, 40px 101px #fff,
        704px 609px #fff, 925px 845px #fff, 1821px 433px #fff, 130px 626px #fff,
        941px 1973px #fff, 656px 153px #fff, 425px 1524px #fff, 335px 550px #fff,
        1379px 1528px #fff, 349px 364px #fff, 1086px 705px #fff,
        1487px 1928px #fff, 1074px 1559px #fff, 60px 1577px #fff,
        1206px 532px #fff, 108px 384px #fff, 937px 490px #fff, 794px 584px #fff,
        164px 168px #fff, 629px 1051px #fff, 141px 522px #fff, 428px 1161px #fff,
        1580px 1203px #fff, 732px 1231px #fff, 1670px 556px #fff,
        431px 1096px #fff, 210px 174px #fff, 1240px 1019px #fff,
        1622px 1077px #fff, 47px 809px #fff, 493px 699px #fff, 1358px 678px #fff,
        392px 894px #fff, 1642px 547px #fff, 217px 1761px #fff,
        1801px 1370px #fff, 1630px 1319px #fff, 643px 1532px #fff,
        1871px 1386px #fff, 1025px 55px #fff, 766px 911px #fff,
        1676px 130px #fff, 1413px 1664px #fff, 346px 1282px #fff,
        29px 770px #fff, 362px 1647px #fff, 62px 285px #fff, 1042px 600px #fff,
        1104px 1822px #fff, 20px 635px #fff, 403px 560px #fff, 256px 1044px #fff,
        1443px 802px #fff, 1495px 1658px #fff, 1756px 303px #fff,
        1662px 715px #fff, 945px 1730px #fff, 640px 248px #fff, 298px 774px #fff,
        594px 501px #fff, 797px 114px #fff, 1424px 1004px #fff,
        359px 1744px #fff, 360px 632px #fff, 898px 578px #fff, 101px 1043px #fff,
        1151px 1926px #fff, 1917px 453px #fff, 73px 270px #fff,
        1739px 400px #fff, 448px 1456px #fff, 789px 54px #fff, 838px 1296px #fff,
        1618px 755px #fff, 1958px 669px #fff, 724px 322px #fff, 24px 1805px #fff,
        1260px 1556px #fff, 692px 220px #fff, 894px 1215px #fff,
        1689px 350px #fff, 451px 828px #fff, 1238px 384px #fff, 109px 862px #fff,
        202px 1973px #fff, 736px 1024px #fff, 206px 930px #fff,
        1185px 1423px #fff, 562px 1390px #fff, 69px 460px #fff, 835px 135px #fff,
        52px 1780px #fff, 560px 1099px #fff, 326px 405px #fff, 731px 243px #fff,
        1391px 1732px #fff, 849px 1079px #fff, 995px 279px #fff,
        1973px 324px #fff, 385px 244px #fff, 1465px 1008px #fff,
        15px 1838px #fff, 962px 1899px #fff, 979px 986px #fff,
        1867px 1673px #fff, 1916px 1127px #fff, 1423px 1166px #fff,
        443px 1399px #fff, 1692px 5px #fff, 786px 1626px #fff, 131px 781px #fff,
        1215px 1593px #fff, 1919px 1371px #fff, 45px 594px #fff, 731px 26px #fff,
        635px 860px #fff, 1764px 1742px #fff, 1773px 510px #fff,
        418px 1469px #fff, 1771px 1431px #fff, 1327px 1249px #fff,
        601px 634px #fff, 216px 708px #fff, 1889px 1920px #fff,
        1775px 1388px #fff, 688px 1322px #fff, 447px 1136px #fff,
        320px 975px #fff, 1060px 1108px #fff, 352px 1340px #fff, 51px 95px #fff,
        1163px 1849px #fff, 493px 360px #fff, 1526px 1451px #fff,
        1072px 1658px #fff, 59px 1073px #fff, 1146px 118px #fff,
        421px 1431px #fff, 1212px 1769px #fff, 865px 1282px #fff,
        1312px 1085px #fff, 1949px 1999px #fff, 134px 958px #fff,
        1764px 1071px #fff, 1630px 728px #fff, 1080px 1939px #fff,
        337px 98px #fff, 907px 779px #fff, 1560px 1384px #fff, 980px 229px #fff,
        538px 525px #fff, 1403px 1379px #fff, 1497px 1066px #fff,
        252px 1518px #fff, 140px 526px #fff, 299px 686px #fff, 1418px 641px #fff,
        832px 52px #fff, 331px 359px #fff, 1298px 1480px #fff, 629px 33px #fff,
        1262px 1756px #fff, 1654px 247px #fff, 450px 943px #fff,
        267px 537px #fff, 1130px 207px #fff, 615px 170px #fff, 386px 1367px #fff,
        1750px 195px #fff, 987px 745px #fff, 94px 198px #fff, 424px 1052px #fff,
        501px 1042px #fff, 444px 687px #fff, 1093px 1652px #fff,
        144px 967px #fff, 361px 1514px #fff, 707px 848px #fff, 33px 956px #fff,
        1328px 1014px #fff, 445px 1883px #fff, 878px 644px #fff,
        1923px 1473px #fff, 40px 1615px #fff, 202px 1324px #fff,
        1663px 397px #fff, 1711px 96px #fff, 200px 220px #fff, 1089px 876px #fff,
        477px 893px #fff, 1770px 1143px #fff, 1986px 1957px #fff,
        1093px 674px #fff, 1010px 458px #fff, 514px 1475px #fff,
        752px 347px #fff, 1219px 1155px #fff, 167px 1755px #fff,
        1427px 1384px #fff, 1355px 142px #fff, 515px 1457px #fff,
        1640px 283px #fff, 557px 265px #fff, 804px 725px #fff, 1883px 552px #fff,
        1727px 1992px #fff, 1382px 1075px #fff, 215px 564px #fff,
        508px 1889px #fff, 1997px 1538px #fff, 235px 1904px #fff,
        1757px 377px #fff, 1761px 475px #fff, 895px 1356px #fff,
        892px 601px #fff, 1326px 1624px #fff, 1791px 55px #fff,
        1242px 1965px #fff, 853px 449px #fff, 1031px 1164px #fff,
        569px 1742px #fff, 1651px 819px #fff, 103px 118px #fff, 257px 161px #fff,
        577px 1159px #fff, 1833px 730px #fff, 1223px 1044px #fff,
        504px 201px #fff, 1002px 1781px #fff, 222px 1241px #fff, 263px 62px #fff,
        920px 468px #fff, 36px 466px #fff, 1270px 1079px #fff, 909px 544px #fff,
        1624px 1519px #fff, 1901px 537px #fff, 1684px 512px #fff,
        571px 1355px #fff, 1320px 995px #fff, 1254px 1874px #fff,
        1921px 1878px #fff, 1132px 1690px #fff, 1888px 1797px #fff,
        1511px 1346px #fff, 454px 1243px #fff, 1658px 1445px #fff,
        840px 1412px #fff, 1068px 1176px #fff, 1628px 4px #fff,
        1427px 201px #fff, 537px 713px #fff, 1529px 100px #fff,
        1706px 302px #fff, 967px 119px #fff, 1409px 794px #fff,
        1738px 885px #fff, 1446px 1385px #fff, 731px 1659px #fff,
        1917px 119px #fff, 14px 1339px #fff, 1993px 1697px #fff,
        1253px 1684px #fff, 670px 1785px #fff, 1528px 1507px #fff,
        848px 1647px #fff, 1372px 1252px #fff, 1935px 935px #fff,
        1172px 674px #fff, 503px 1695px #fff, 473px 799px #fff,
        1133px 1601px #fff, 1908px 1031px #fff, 1620px 1303px #fff,
        1396px 1781px #fff, 1669px 512px #fff, 231px 1747px #fff,
        316px 547px #fff, 1079px 86px #fff, 1939px 1709px #fff, 1066px 43px #fff,
        1102px 1148px #fff, 903px 511px #fff, 202px 1142px #fff, 39px 508px #fff,
        853px 74px #fff, 252px 508px #fff, 518px 836px #fff, 892px 855px #fff,
        1370px 881px #fff, 423px 557px #fff, 226px 1594px #fff, 81px 259px #fff,
        1736px 1020px #fff, 475px 1409px #fff, 880px 1886px #fff,
        1824px 1906px #fff, 1862px 995px #fff, 516px 1321px #fff,
        1193px 548px #fff, 233px 640px #fff, 1226px 1314px #fff,
        530px 1263px #fff, 425px 1854px #fff, 1019px 494px #fff,
        666px 1034px #fff, 1584px 1323px #fff, 776px 217px #fff,
        809px 870px #fff, 1535px 201px #fff, 1320px 1942px #fff,
        158px 305px #fff, 706px 140px #fff, 673px 1862px #fff, 864px 1439px #fff,
        1895px 269px #fff, 1514px 1766px #fff, 101px 128px #fff,
        1496px 1856px #fff, 408px 1773px #fff, 658px 96px #fff, 958px 108px #fff,
        1010px 368px #fff, 1179px 545px #fff, 406px 126px #fff,
        1432px 635px #fff, 839px 1270px #fff, 536px 1235px #fff, 667px 19px #fff,
        533px 639px #fff, 150px 80px #fff, 1541px 58px #fff, 467px 1469px #fff,
        311px 868px #fff, 790px 1281px #fff, 937px 1781px #fff,
        707px 1541px #fff, 1705px 687px #fff, 1621px 1804px #fff,
        837px 982px #fff, 1019px 1925px #fff, 1437px 1224px #fff,
        1669px 1783px #fff, 126px 380px #fff, 1615px 305px #fff,
        121px 1320px #fff, 226px 1770px #fff, 1771px 54px #fff, 640px 45px #fff,
        1675px 1196px #fff, 971px 1920px #fff, 1750px 1959px #fff,
        1180px 95px #fff, 1231px 921px #fff, 1109px 1802px #fff,
        1028px 1614px #fff, 524px 1742px #fff, 178px 1100px #fff,
        1044px 1293px #fff, 1801px 1838px #fff, 108px 280px #fff,
        139px 613px #fff, 1790px 725px #fff, 786px 1797px #fff,
        1278px 1369px #fff, 1022px 1290px #fff, 585px 534px #fff,
        1263px 1894px #fff, 1729px 477px #fff, 770px 25px #fff,
        1004px 1377px #fff, 1499px 541px #fff, 42px 1339px #fff,
        1656px 42px #fff, 1229px 1178px #fff, 952px 1894px #fff,
        104px 1611px #fff, 1909px 800px #fff, 243px 1245px #fff,
        162px 861px #fff, 829px 641px #fff, 1383px 708px #fff, 393px 1608px #fff,
        1753px 1692px #fff, 217px 1901px #fff, 1102px 178px #fff,
        1135px 990px #fff, 781px 70px #fff, 8px 1069px #fff, 605px 1588px #fff,
        1332px 404px #fff, 266px 66px #fff, 1670px 583px #fff, 391px 1508px #fff,
        609px 1542px #fff, 754px 82px #fff, 1114px 1319px #fff,
        443px 1935px #fff, 469px 245px #fff, 379px 1514px #fff, 79px 1992px #fff,
        1105px 1395px #fff, 165px 1696px #fff, 886px 1811px #fff,
        1776px 1308px #fff, 325px 825px #fff, 648px 1925px #fff,
        794px 245px #fff, 1872px 1502px #fff, 1511px 1061px #fff,
        963px 165px #fff, 1968px 1098px #fff, 1676px 1593px #fff,
        696px 1508px #fff, 1486px 1480px #fff, 1766px 127px #fff,
        682px 1458px #fff, 1189px 493px #fff, 1758px 1029px #fff,
        1902px 551px #fff, 1362px 1972px #fff, 1199px 1764px #fff,
        1904px 467px #fff, 652px 1839px #fff, 1591px 337px #fff,
        1799px 700px #fff, 308px 648px #fff, 481px 715px #fff, 310px 956px #fff,
        445px 1782px #fff, 115px 1523px #fff, 502px 1024px #fff,
        984px 990px #fff, 1291px 741px #fff, 485px 1900px #fff, 953px 302px #fff,
        428px 1017px #fff, 1042px 125px #fff, 1026px 1317px #fff,
        554px 1930px #fff, 1295px 790px #fff, 1142px 340px #fff,
        596px 1604px #fff, 24px 1012px #fff, 1790px 1688px #fff,
        1023px 482px #fff, 2000px 822px #fff, 145px 1845px #fff,
        1411px 633px #fff, 1207px 1664px #fff, 1291px 796px #fff,
        28px 251px #fff, 210px 514px #fff, 1816px 79px #fff, 441px 153px #fff,
        1463px 984px #fff, 1314px 292px #fff, 1328px 248px #fff,
        1357px 746px #fff, 1685px 1475px #fff, 124px 1317px #fff,
        357px 883px #fff, 1666px 1758px #fff, 1590px 182px #fff, 786px 71px #fff,
        1490px 1886px #fff, 207px 1980px #fff, 1722px 1795px #fff,
        1519px 1988px #fff, 787px 1118px #fff, 1678px 888px #fff,
        1194px 149px #fff, 770px 784px #fff, 1845px 1190px #fff,
        1991px 1279px #fff, 1034px 126px #fff, 1818px 1887px #fff,
        1760px 1285px #fff, 176px 1764px #fff, 565px 1555px #fff,
        1892px 1035px #fff, 877px 197px #fff, 1905px 1117px #fff,
        767px 1333px #fff, 1835px 1425px #fff, 42px 1725px #fff,
        1010px 545px #fff, 887px 749px #fff, 890px 1329px #fff,
        273px 1261px #fff, 946px 28px #fff, 1451px 1355px #fff, 12px 305px #fff,
        1946px 414px #fff, 1088px 1061px #fff, 45px 242px #fff,
        1508px 643px #fff, 135px 839px #fff, 1713px 406px #fff,
        1420px 1448px #fff, 932px 1518px #fff, 730px 521px #fff, 6px 1696px #fff,
        366px 1459px #fff, 670px 66px #fff, 1162px 1440px #fff, 507px 285px #fff,
        1442px 545px #fff, 643px 487px #fff, 1074px 25px #fff, 202px 916px #fff,
        1150px 1639px #fff, 1571px 886px #fff, 1906px 781px #fff,
        1905px 1291px #fff, 176px 808px #fff, 1154px 148px #fff,
        597px 1221px #fff, 1205px 768px #fff, 1794px 798px #fff, 79px 613px #fff,
        1542px 1975px #fff, 849px 910px #fff, 596px 1504px #fff,
        195px 1077px #fff, 1521px 1213px #fff, 23px 138px #fff,
        1167px 1045px #fff, 1019px 129px #fff, 1243px 1074px #fff,
        966px 789px #fff, 590px 822px #fff, 1065px 1034px #fff, 760px 567px #fff,
        1153px 678px #fff, 195px 36px #fff, 1508px 1951px #fff, 127px 897px #fff,
        321px 838px #fff, 484px 33px #fff, 907px 1182px #fff, 1182px 142px #fff,
        524px 853px #fff, 1783px 1528px #fff, 1625px 1526px #fff,
        1900px 1020px #fff, 1421px 112px #fff, 576px 1555px #fff,
        1417px 1420px #fff, 1614px 1971px #fff, 594px 81px #fff,
        253px 191px #fff, 367px 1850px #fff, 150px 1809px #fff,
        996px 1180px #fff, 1506px 713px #fff;
      animation: animStar 50s linear infinite;
      &:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: 185px 719px #fff, 1158px 859px #fff, 199px 1717px #fff,
          1510px 885px #fff, 499px 1413px #fff, 1397px 173px #fff,
          465px 946px #fff, 1940px 1146px #fff, 1038px 1445px #fff,
          367px 922px #fff, 1300px 197px #fff, 1266px 571px #fff,
          830px 377px #fff, 1056px 995px #fff, 683px 216px #fff,
          1733px 159px #fff, 992px 345px #fff, 1077px 1864px #fff,
          1508px 1104px #fff, 1812px 188px #fff, 877px 1291px #fff,
          666px 609px #fff, 929px 1338px #fff, 1871px 1353px #fff,
          553px 1841px #fff, 1710px 47px #fff, 46px 1849px #fff,
          1884px 1825px #fff, 1801px 1442px #fff, 965px 614px #fff,
          1876px 565px #fff, 800px 594px #fff, 1097px 1028px #fff,
          870px 835px #fff, 1773px 1786px #fff, 1393px 1250px #fff,
          757px 1171px #fff, 1944px 213px #fff, 1075px 801px #fff,
          1582px 952px #fff, 451px 1323px #fff, 1410px 1152px #fff,
          1183px 701px #fff, 1183px 1532px #fff, 244px 951px #fff,
          165px 1634px #fff, 521px 513px #fff, 1328px 1310px #fff,
          1352px 315px #fff, 1670px 1633px #fff, 333px 748px #fff,
          339px 59px #fff, 45px 1084px #fff, 1795px 1148px #fff,
          1992px 715px #fff, 1762px 1074px #fff, 470px 358px #fff,
          644px 524px #fff, 550px 1574px #fff, 1610px 1086px #fff,
          667px 625px #fff, 1588px 1295px #fff, 404px 278px #fff,
          1592px 305px #fff, 1846px 1343px #fff, 314px 120px #fff,
          1338px 188px #fff, 47px 1929px #fff, 26px 1472px #fff, 97px 639px #fff,
          787px 1741px #fff, 1683px 1309px #fff, 897px 167px #fff,
          1576px 454px #fff, 368px 1241px #fff, 445px 1687px #fff,
          1876px 113px #fff, 1415px 1950px #fff, 1916px 1189px #fff,
          16px 605px #fff, 1724px 1444px #fff, 1437px 1581px #fff,
          1243px 633px #fff, 1417px 1364px #fff, 974px 836px #fff,
          200px 360px #fff, 999px 1230px #fff, 1px 1670px #fff,
          1253px 905px #fff, 7px 1574px #fff, 1911px 568px #fff,
          691px 1888px #fff, 736px 1529px #fff, 33px 12px #fff,
          1119px 347px #fff, 1626px 1325px #fff, 677px 157px #fff,
          1623px 874px #fff, 539px 652px #fff, 1708px 1246px #fff,
          1947px 1198px #fff, 160px 1928px #fff, 1069px 783px #fff,
          1823px 944px #fff, 1652px 1709px #fff, 1631px 1467px #fff,
          1430px 854px #fff, 1268px 857px #fff, 1346px 1334px #fff,
          1499px 1845px #fff, 609px 1317px #fff, 990px 19px #fff,
          723px 1304px #fff, 1783px 691px #fff, 1400px 111px #fff,
          988px 1344px #fff, 426px 1514px #fff, 1875px 473px #fff,
          1890px 1712px #fff, 15px 127px #fff, 1368px 936px #fff,
          1730px 166px #fff, 571px 987px #fff, 1281px 175px #fff,
          1003px 1664px #fff, 530px 235px #fff, 332px 1461px #fff,
          664px 1539px #fff, 1370px 1966px #fff, 993px 1072px #fff,
          1689px 1117px #fff, 1237px 199px #fff, 1265px 994px #fff,
          799px 1346px #fff, 933px 959px #fff, 1893px 157px #fff,
          1575px 729px #fff, 730px 939px #fff, 704px 913px #fff,
          448px 1753px #fff, 839px 1082px #fff, 322px 298px #fff,
          1401px 1161px #fff, 40px 101px #fff, 704px 609px #fff,
          925px 845px #fff, 1821px 433px #fff, 130px 626px #fff,
          941px 1973px #fff, 656px 153px #fff, 425px 1524px #fff,
          335px 550px #fff, 1379px 1528px #fff, 349px 364px #fff,
          1086px 705px #fff, 1487px 1928px #fff, 1074px 1559px #fff,
          60px 1577px #fff, 1206px 532px #fff, 108px 384px #fff,
          937px 490px #fff, 794px 584px #fff, 164px 168px #fff,
          629px 1051px #fff, 141px 522px #fff, 428px 1161px #fff,
          1580px 1203px #fff, 732px 1231px #fff, 1670px 556px #fff,
          431px 1096px #fff, 210px 174px #fff, 1240px 1019px #fff,
          1622px 1077px #fff, 47px 809px #fff, 493px 699px #fff,
          1358px 678px #fff, 392px 894px #fff, 1642px 547px #fff,
          217px 1761px #fff, 1801px 1370px #fff, 1630px 1319px #fff,
          643px 1532px #fff, 1871px 1386px #fff, 1025px 55px #fff,
          766px 911px #fff, 1676px 130px #fff, 1413px 1664px #fff,
          346px 1282px #fff, 29px 770px #fff, 362px 1647px #fff, 62px 285px #fff,
          1042px 600px #fff, 1104px 1822px #fff, 20px 635px #fff,
          403px 560px #fff, 256px 1044px #fff, 1443px 802px #fff,
          1495px 1658px #fff, 1756px 303px #fff, 1662px 715px #fff,
          945px 1730px #fff, 640px 248px #fff, 298px 774px #fff,
          594px 501px #fff, 797px 114px #fff, 1424px 1004px #fff,
          359px 1744px #fff, 360px 632px #fff, 898px 578px #fff,
          101px 1043px #fff, 1151px 1926px #fff, 1917px 453px #fff,
          73px 270px #fff, 1739px 400px #fff, 448px 1456px #fff, 789px 54px #fff,
          838px 1296px #fff, 1618px 755px #fff, 1958px 669px #fff,
          724px 322px #fff, 24px 1805px #fff, 1260px 1556px #fff,
          692px 220px #fff, 894px 1215px #fff, 1689px 350px #fff,
          451px 828px #fff, 1238px 384px #fff, 109px 862px #fff,
          202px 1973px #fff, 736px 1024px #fff, 206px 930px #fff,
          1185px 1423px #fff, 562px 1390px #fff, 69px 460px #fff,
          835px 135px #fff, 52px 1780px #fff, 560px 1099px #fff,
          326px 405px #fff, 731px 243px #fff, 1391px 1732px #fff,
          849px 1079px #fff, 995px 279px #fff, 1973px 324px #fff,
          385px 244px #fff, 1465px 1008px #fff, 15px 1838px #fff,
          962px 1899px #fff, 979px 986px #fff, 1867px 1673px #fff,
          1916px 1127px #fff, 1423px 1166px #fff, 443px 1399px #fff,
          1692px 5px #fff, 786px 1626px #fff, 131px 781px #fff,
          1215px 1593px #fff, 1919px 1371px #fff, 45px 594px #fff,
          731px 26px #fff, 635px 860px #fff, 1764px 1742px #fff,
          1773px 510px #fff, 418px 1469px #fff, 1771px 1431px #fff,
          1327px 1249px #fff, 601px 634px #fff, 216px 708px #fff,
          1889px 1920px #fff, 1775px 1388px #fff, 688px 1322px #fff,
          447px 1136px #fff, 320px 975px #fff, 1060px 1108px #fff,
          352px 1340px #fff, 51px 95px #fff, 1163px 1849px #fff,
          493px 360px #fff, 1526px 1451px #fff, 1072px 1658px #fff,
          59px 1073px #fff, 1146px 118px #fff, 421px 1431px #fff,
          1212px 1769px #fff, 865px 1282px #fff, 1312px 1085px #fff,
          1949px 1999px #fff, 134px 958px #fff, 1764px 1071px #fff,
          1630px 728px #fff, 1080px 1939px #fff, 337px 98px #fff,
          907px 779px #fff, 1560px 1384px #fff, 980px 229px #fff,
          538px 525px #fff, 1403px 1379px #fff, 1497px 1066px #fff,
          252px 1518px #fff, 140px 526px #fff, 299px 686px #fff,
          1418px 641px #fff, 832px 52px #fff, 331px 359px #fff,
          1298px 1480px #fff, 629px 33px #fff, 1262px 1756px #fff,
          1654px 247px #fff, 450px 943px #fff, 267px 537px #fff,
          1130px 207px #fff, 615px 170px #fff, 386px 1367px #fff,
          1750px 195px #fff, 987px 745px #fff, 94px 198px #fff,
          424px 1052px #fff, 501px 1042px #fff, 444px 687px #fff,
          1093px 1652px #fff, 144px 967px #fff, 361px 1514px #fff,
          707px 848px #fff, 33px 956px #fff, 1328px 1014px #fff,
          445px 1883px #fff, 878px 644px #fff, 1923px 1473px #fff,
          40px 1615px #fff, 202px 1324px #fff, 1663px 397px #fff,
          1711px 96px #fff, 200px 220px #fff, 1089px 876px #fff,
          477px 893px #fff, 1770px 1143px #fff, 1986px 1957px #fff,
          1093px 674px #fff, 1010px 458px #fff, 514px 1475px #fff,
          752px 347px #fff, 1219px 1155px #fff, 167px 1755px #fff,
          1427px 1384px #fff, 1355px 142px #fff, 515px 1457px #fff,
          1640px 283px #fff, 557px 265px #fff, 804px 725px #fff,
          1883px 552px #fff, 1727px 1992px #fff, 1382px 1075px #fff,
          215px 564px #fff, 508px 1889px #fff, 1997px 1538px #fff,
          235px 1904px #fff, 1757px 377px #fff, 1761px 475px #fff,
          895px 1356px #fff, 892px 601px #fff, 1326px 1624px #fff,
          1791px 55px #fff, 1242px 1965px #fff, 853px 449px #fff,
          1031px 1164px #fff, 569px 1742px #fff, 1651px 819px #fff,
          103px 118px #fff, 257px 161px #fff, 577px 1159px #fff,
          1833px 730px #fff, 1223px 1044px #fff, 504px 201px #fff,
          1002px 1781px #fff, 222px 1241px #fff, 263px 62px #fff,
          920px 468px #fff, 36px 466px #fff, 1270px 1079px #fff,
          909px 544px #fff, 1624px 1519px #fff, 1901px 537px #fff,
          1684px 512px #fff, 571px 1355px #fff, 1320px 995px #fff,
          1254px 1874px #fff, 1921px 1878px #fff, 1132px 1690px #fff,
          1888px 1797px #fff, 1511px 1346px #fff, 454px 1243px #fff,
          1658px 1445px #fff, 840px 1412px #fff, 1068px 1176px #fff,
          1628px 4px #fff, 1427px 201px #fff, 537px 713px #fff,
          1529px 100px #fff, 1706px 302px #fff, 967px 119px #fff,
          1409px 794px #fff, 1738px 885px #fff, 1446px 1385px #fff,
          731px 1659px #fff, 1917px 119px #fff, 14px 1339px #fff,
          1993px 1697px #fff, 1253px 1684px #fff, 670px 1785px #fff,
          1528px 1507px #fff, 848px 1647px #fff, 1372px 1252px #fff,
          1935px 935px #fff, 1172px 674px #fff, 503px 1695px #fff,
          473px 799px #fff, 1133px 1601px #fff, 1908px 1031px #fff,
          1620px 1303px #fff, 1396px 1781px #fff, 1669px 512px #fff,
          231px 1747px #fff, 316px 547px #fff, 1079px 86px #fff,
          1939px 1709px #fff, 1066px 43px #fff, 1102px 1148px #fff,
          903px 511px #fff, 202px 1142px #fff, 39px 508px #fff, 853px 74px #fff,
          252px 508px #fff, 518px 836px #fff, 892px 855px #fff,
          1370px 881px #fff, 423px 557px #fff, 226px 1594px #fff,
          81px 259px #fff, 1736px 1020px #fff, 475px 1409px #fff,
          880px 1886px #fff, 1824px 1906px #fff, 1862px 995px #fff,
          516px 1321px #fff, 1193px 548px #fff, 233px 640px #fff,
          1226px 1314px #fff, 530px 1263px #fff, 425px 1854px #fff,
          1019px 494px #fff, 666px 1034px #fff, 1584px 1323px #fff,
          776px 217px #fff, 809px 870px #fff, 1535px 201px #fff,
          1320px 1942px #fff, 158px 305px #fff, 706px 140px #fff,
          673px 1862px #fff, 864px 1439px #fff, 1895px 269px #fff,
          1514px 1766px #fff, 101px 128px #fff, 1496px 1856px #fff,
          408px 1773px #fff, 658px 96px #fff, 958px 108px #fff,
          1010px 368px #fff, 1179px 545px #fff, 406px 126px #fff,
          1432px 635px #fff, 839px 1270px #fff, 536px 1235px #fff,
          667px 19px #fff, 533px 639px #fff, 150px 80px #fff, 1541px 58px #fff,
          467px 1469px #fff, 311px 868px #fff, 790px 1281px #fff,
          937px 1781px #fff, 707px 1541px #fff, 1705px 687px #fff,
          1621px 1804px #fff, 837px 982px #fff, 1019px 1925px #fff,
          1437px 1224px #fff, 1669px 1783px #fff, 126px 380px #fff,
          1615px 305px #fff, 121px 1320px #fff, 226px 1770px #fff,
          1771px 54px #fff, 640px 45px #fff, 1675px 1196px #fff,
          971px 1920px #fff, 1750px 1959px #fff, 1180px 95px #fff,
          1231px 921px #fff, 1109px 1802px #fff, 1028px 1614px #fff,
          524px 1742px #fff, 178px 1100px #fff, 1044px 1293px #fff,
          1801px 1838px #fff, 108px 280px #fff, 139px 613px #fff,
          1790px 725px #fff, 786px 1797px #fff, 1278px 1369px #fff,
          1022px 1290px #fff, 585px 534px #fff, 1263px 1894px #fff,
          1729px 477px #fff, 770px 25px #fff, 1004px 1377px #fff,
          1499px 541px #fff, 42px 1339px #fff, 1656px 42px #fff,
          1229px 1178px #fff, 952px 1894px #fff, 104px 1611px #fff,
          1909px 800px #fff, 243px 1245px #fff, 162px 861px #fff,
          829px 641px #fff, 1383px 708px #fff, 393px 1608px #fff,
          1753px 1692px #fff, 217px 1901px #fff, 1102px 178px #fff,
          1135px 990px #fff, 781px 70px #fff, 8px 1069px #fff, 605px 1588px #fff,
          1332px 404px #fff, 266px 66px #fff, 1670px 583px #fff,
          391px 1508px #fff, 609px 1542px #fff, 754px 82px #fff,
          1114px 1319px #fff, 443px 1935px #fff, 469px 245px #fff,
          379px 1514px #fff, 79px 1992px #fff, 1105px 1395px #fff,
          165px 1696px #fff, 886px 1811px #fff, 1776px 1308px #fff,
          325px 825px #fff, 648px 1925px #fff, 794px 245px #fff,
          1872px 1502px #fff, 1511px 1061px #fff, 963px 165px #fff,
          1968px 1098px #fff, 1676px 1593px #fff, 696px 1508px #fff,
          1486px 1480px #fff, 1766px 127px #fff, 682px 1458px #fff,
          1189px 493px #fff, 1758px 1029px #fff, 1902px 551px #fff,
          1362px 1972px #fff, 1199px 1764px #fff, 1904px 467px #fff,
          652px 1839px #fff, 1591px 337px #fff, 1799px 700px #fff,
          308px 648px #fff, 481px 715px #fff, 310px 956px #fff,
          445px 1782px #fff, 115px 1523px #fff, 502px 1024px #fff,
          984px 990px #fff, 1291px 741px #fff, 485px 1900px #fff,
          953px 302px #fff, 428px 1017px #fff, 1042px 125px #fff,
          1026px 1317px #fff, 554px 1930px #fff, 1295px 790px #fff,
          1142px 340px #fff, 596px 1604px #fff, 24px 1012px #fff,
          1790px 1688px #fff, 1023px 482px #fff, 2000px 822px #fff,
          145px 1845px #fff, 1411px 633px #fff, 1207px 1664px #fff,
          1291px 796px #fff, 28px 251px #fff, 210px 514px #fff, 1816px 79px #fff,
          441px 153px #fff, 1463px 984px #fff, 1314px 292px #fff,
          1328px 248px #fff, 1357px 746px #fff, 1685px 1475px #fff,
          124px 1317px #fff, 357px 883px #fff, 1666px 1758px #fff,
          1590px 182px #fff, 786px 71px #fff, 1490px 1886px #fff,
          207px 1980px #fff, 1722px 1795px #fff, 1519px 1988px #fff,
          787px 1118px #fff, 1678px 888px #fff, 1194px 149px #fff,
          770px 784px #fff, 1845px 1190px #fff, 1991px 1279px #fff,
          1034px 126px #fff, 1818px 1887px #fff, 1760px 1285px #fff,
          176px 1764px #fff, 565px 1555px #fff, 1892px 1035px #fff,
          877px 197px #fff, 1905px 1117px #fff, 767px 1333px #fff,
          1835px 1425px #fff, 42px 1725px #fff, 1010px 545px #fff,
          887px 749px #fff, 890px 1329px #fff, 273px 1261px #fff,
          946px 28px #fff, 1451px 1355px #fff, 12px 305px #fff,
          1946px 414px #fff, 1088px 1061px #fff, 45px 242px #fff,
          1508px 643px #fff, 135px 839px #fff, 1713px 406px #fff,
          1420px 1448px #fff, 932px 1518px #fff, 730px 521px #fff,
          6px 1696px #fff, 366px 1459px #fff, 670px 66px #fff,
          1162px 1440px #fff, 507px 285px #fff, 1442px 545px #fff,
          643px 487px #fff, 1074px 25px #fff, 202px 916px #fff,
          1150px 1639px #fff, 1571px 886px #fff, 1906px 781px #fff,
          1905px 1291px #fff, 176px 808px #fff, 1154px 148px #fff,
          597px 1221px #fff, 1205px 768px #fff, 1794px 798px #fff,
          79px 613px #fff, 1542px 1975px #fff, 849px 910px #fff,
          596px 1504px #fff, 195px 1077px #fff, 1521px 1213px #fff,
          23px 138px #fff, 1167px 1045px #fff, 1019px 129px #fff,
          1243px 1074px #fff, 966px 789px #fff, 590px 822px #fff,
          1065px 1034px #fff, 760px 567px #fff, 1153px 678px #fff,
          195px 36px #fff, 1508px 1951px #fff, 127px 897px #fff,
          321px 838px #fff, 484px 33px #fff, 907px 1182px #fff,
          1182px 142px #fff, 524px 853px #fff, 1783px 1528px #fff,
          1625px 1526px #fff, 1900px 1020px #fff, 1421px 112px #fff,
          576px 1555px #fff, 1417px 1420px #fff, 1614px 1971px #fff,
          594px 81px #fff, 253px 191px #fff, 367px 1850px #fff,
          150px 1809px #fff, 996px 1180px #fff, 1506px 713px #fff;
      }
    }
    .stars-2 {
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 1052px 687px #fff, 773px 1685px #fff, 1310px 1565px #fff,
        1415px 1264px #fff, 1945px 1490px #fff, 1010px 1212px #fff,
        1564px 1532px #fff, 1178px 85px #fff, 1761px 204px #fff,
        896px 1706px #fff, 1541px 861px #fff, 1577px 1172px #fff,
        22px 1935px #fff, 605px 1254px #fff, 22px 1694px #fff, 127px 699px #fff,
        1616px 520px #fff, 553px 996px #fff, 1782px 159px #fff,
        414px 1601px #fff, 1382px 1359px #fff, 1476px 1760px #fff,
        1719px 593px #fff, 281px 321px #fff, 1684px 1977px #fff,
        769px 156px #fff, 692px 633px #fff, 592px 77px #fff, 865px 1785px #fff,
        420px 4px #fff, 1831px 1342px #fff, 558px 294px #fff, 160px 689px #fff,
        65px 184px #fff, 421px 389px #fff, 723px 1376px #fff, 1730px 415px #fff,
        332px 850px #fff, 1351px 502px #fff, 1577px 198px #fff,
        1879px 759px #fff, 1608px 942px #fff, 925px 357px #fff,
        863px 1280px #fff, 244px 630px #fff, 1880px 891px #fff,
        648px 1054px #fff, 355px 857px #fff, 345px 1874px #fff,
        1931px 161px #fff, 900px 830px #fff, 466px 227px #fff, 915px 1887px #fff,
        1627px 1343px #fff, 1893px 1144px #fff, 529px 1300px #fff,
        1489px 43px #fff, 482px 1707px #fff, 1028px 1933px #fff,
        1498px 863px #fff, 1032px 448px #fff, 280px 1150px #fff,
        841px 1754px #fff, 904px 1974px #fff, 835px 1900px #fff, 351px 22px #fff,
        1220px 259px #fff, 1332px 443px #fff, 1233px 29px #fff, 50px 152px #fff,
        261px 1854px #fff, 1988px 1172px #fff, 445px 1092px #fff,
        708px 805px #fff, 1017px 983px #fff, 134px 1082px #fff, 571px 551px #fff,
        947px 284px #fff, 899px 1253px #fff, 761px 1044px #fff,
        1402px 114px #fff, 391px 387px #fff, 1992px 413px #fff, 54px 1156px #fff,
        1990px 271px #fff, 416px 1554px #fff, 1724px 1696px #fff,
        1297px 377px #fff, 911px 62px #fff, 1801px 693px #fff,
        1882px 1700px #fff, 1321px 138px #fff, 1729px 1715px #fff,
        1394px 1748px #fff, 1779px 939px #fff, 936px 1715px #fff,
        1063px 537px #fff, 1331px 98px #fff, 1519px 137px #fff, 345px 184px #fff,
        377px 1942px #fff, 274px 729px #fff, 898px 788px #fff, 472px 438px #fff,
        1854px 165px #fff, 153px 1291px #fff, 883px 1093px #fff,
        592px 1752px #fff, 1538px 1265px #fff, 463px 342px #fff,
        1839px 1477px #fff, 804px 276px #fff, 495px 181px #fff,
        1382px 1361px #fff, 291px 1219px #fff, 1018px 638px #fff,
        1521px 66px #fff, 926px 1445px #fff, 1379px 1228px #fff,
        1910px 1693px #fff, 1855px 882px #fff, 1659px 533px #fff,
        1710px 1458px #fff, 943px 984px #fff, 1363px 445px #fff,
        1072px 1089px #fff, 1602px 823px #fff, 1273px 751px #fff,
        688px 1705px #fff, 816px 610px #fff, 1321px 1094px #fff,
        1011px 615px #fff, 1963px 135px #fff, 1873px 536px #fff,
        761px 1317px #fff, 387px 896px #fff, 80px 447px #fff, 1650px 1635px #fff,
        1606px 25px #fff, 710px 284px #fff, 221px 99px #fff, 981px 1118px #fff,
        1792px 524px #fff, 421px 1321px #fff, 1462px 418px #fff,
        1582px 563px #fff, 1556px 422px #fff, 1573px 665px #fff,
        1912px 378px #fff, 1350px 160px #fff, 1916px 1255px #fff,
        308px 1165px #fff, 1038px 1117px #fff, 1117px 1854px #fff,
        1863px 167px #fff, 769px 327px #fff, 608px 1457px #fff, 837px 973px #fff,
        523px 557px #fff, 217px 397px #fff, 382px 815px #fff, 229px 528px #fff,
        837px 1995px #fff, 695px 353px #fff, 520px 1996px #fff,
        1629px 516px #fff, 429px 1806px #fff, 1011px 387px #fff,
        264px 1585px #fff, 835px 200px #fff, 513px 20px #fff, 16px 841px #fff,
        471px 1769px #fff, 15px 1481px #fff, 816px 365px #fff, 590px 66px #fff,
        791px 1277px #fff, 143px 296px #fff, 777px 1502px #fff,
        1336px 463px #fff, 1103px 773px #fff, 397px 1591px #fff,
        1136px 1534px #fff, 1635px 378px #fff, 1101px 1978px #fff,
        338px 384px #fff, 1750px 1234px #fff, 394px 18px #fff, 1066px 225px #fff,
        1030px 1148px #fff, 1811px 1600px #fff, 394px 1470px #fff,
        1591px 1833px #fff, 325px 920px #fff, 1398px 846px #fff,
        767px 629px #fff, 1007px 1629px #fff, 294px 958px #fff,
        735px 1297px #fff, 804px 1272px #fff;
      animation: animStar 100s linear infinite;
      &:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: 1052px 687px #fff, 773px 1685px #fff, 1310px 1565px #fff,
          1415px 1264px #fff, 1945px 1490px #fff, 1010px 1212px #fff,
          1564px 1532px #fff, 1178px 85px #fff, 1761px 204px #fff,
          896px 1706px #fff, 1541px 861px #fff, 1577px 1172px #fff,
          22px 1935px #fff, 605px 1254px #fff, 22px 1694px #fff,
          127px 699px #fff, 1616px 520px #fff, 553px 996px #fff,
          1782px 159px #fff, 414px 1601px #fff, 1382px 1359px #fff,
          1476px 1760px #fff, 1719px 593px #fff, 281px 321px #fff,
          1684px 1977px #fff, 769px 156px #fff, 692px 633px #fff,
          592px 77px #fff, 865px 1785px #fff, 420px 4px #fff, 1831px 1342px #fff,
          558px 294px #fff, 160px 689px #fff, 65px 184px #fff, 421px 389px #fff,
          723px 1376px #fff, 1730px 415px #fff, 332px 850px #fff,
          1351px 502px #fff, 1577px 198px #fff, 1879px 759px #fff,
          1608px 942px #fff, 925px 357px #fff, 863px 1280px #fff,
          244px 630px #fff, 1880px 891px #fff, 648px 1054px #fff,
          355px 857px #fff, 345px 1874px #fff, 1931px 161px #fff,
          900px 830px #fff, 466px 227px #fff, 915px 1887px #fff,
          1627px 1343px #fff, 1893px 1144px #fff, 529px 1300px #fff,
          1489px 43px #fff, 482px 1707px #fff, 1028px 1933px #fff,
          1498px 863px #fff, 1032px 448px #fff, 280px 1150px #fff,
          841px 1754px #fff, 904px 1974px #fff, 835px 1900px #fff,
          351px 22px #fff, 1220px 259px #fff, 1332px 443px #fff,
          1233px 29px #fff, 50px 152px #fff, 261px 1854px #fff,
          1988px 1172px #fff, 445px 1092px #fff, 708px 805px #fff,
          1017px 983px #fff, 134px 1082px #fff, 571px 551px #fff,
          947px 284px #fff, 899px 1253px #fff, 761px 1044px #fff,
          1402px 114px #fff, 391px 387px #fff, 1992px 413px #fff,
          54px 1156px #fff, 1990px 271px #fff, 416px 1554px #fff,
          1724px 1696px #fff, 1297px 377px #fff, 911px 62px #fff,
          1801px 693px #fff, 1882px 1700px #fff, 1321px 138px #fff,
          1729px 1715px #fff, 1394px 1748px #fff, 1779px 939px #fff,
          936px 1715px #fff, 1063px 537px #fff, 1331px 98px #fff,
          1519px 137px #fff, 345px 184px #fff, 377px 1942px #fff,
          274px 729px #fff, 898px 788px #fff, 472px 438px #fff,
          1854px 165px #fff, 153px 1291px #fff, 883px 1093px #fff,
          592px 1752px #fff, 1538px 1265px #fff, 463px 342px #fff,
          1839px 1477px #fff, 804px 276px #fff, 495px 181px #fff,
          1382px 1361px #fff, 291px 1219px #fff, 1018px 638px #fff,
          1521px 66px #fff, 926px 1445px #fff, 1379px 1228px #fff,
          1910px 1693px #fff, 1855px 882px #fff, 1659px 533px #fff,
          1710px 1458px #fff, 943px 984px #fff, 1363px 445px #fff,
          1072px 1089px #fff, 1602px 823px #fff, 1273px 751px #fff,
          688px 1705px #fff, 816px 610px #fff, 1321px 1094px #fff,
          1011px 615px #fff, 1963px 135px #fff, 1873px 536px #fff,
          761px 1317px #fff, 387px 896px #fff, 80px 447px #fff,
          1650px 1635px #fff, 1606px 25px #fff, 710px 284px #fff,
          221px 99px #fff, 981px 1118px #fff, 1792px 524px #fff,
          421px 1321px #fff, 1462px 418px #fff, 1582px 563px #fff,
          1556px 422px #fff, 1573px 665px #fff, 1912px 378px #fff,
          1350px 160px #fff, 1916px 1255px #fff, 308px 1165px #fff,
          1038px 1117px #fff, 1117px 1854px #fff, 1863px 167px #fff,
          769px 327px #fff, 608px 1457px #fff, 837px 973px #fff,
          523px 557px #fff, 217px 397px #fff, 382px 815px #fff, 229px 528px #fff,
          837px 1995px #fff, 695px 353px #fff, 520px 1996px #fff,
          1629px 516px #fff, 429px 1806px #fff, 1011px 387px #fff,
          264px 1585px #fff, 835px 200px #fff, 513px 20px #fff, 16px 841px #fff,
          471px 1769px #fff, 15px 1481px #fff, 816px 365px #fff, 590px 66px #fff,
          791px 1277px #fff, 143px 296px #fff, 777px 1502px #fff,
          1336px 463px #fff, 1103px 773px #fff, 397px 1591px #fff,
          1136px 1534px #fff, 1635px 378px #fff, 1101px 1978px #fff,
          338px 384px #fff, 1750px 1234px #fff, 394px 18px #fff,
          1066px 225px #fff, 1030px 1148px #fff, 1811px 1600px #fff,
          394px 1470px #fff, 1591px 1833px #fff, 325px 920px #fff,
          1398px 846px #fff, 767px 629px #fff, 1007px 1629px #fff,
          294px 958px #fff, 735px 1297px #fff, 804px 1272px #fff;
      }
    }

    .stars-3 {
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: 1664px 1057px #fff, 641px 639px #fff, 1651px 259px #fff,
        211px 216px #fff, 873px 1347px #fff, 549px 121px #fff, 1651px 221px #fff,
        1527px 737px #fff, 1912px 159px #fff, 225px 1241px #fff,
        1478px 1443px #fff, 1640px 60px #fff, 1098px 1355px #fff, 34px 30px #fff,
        1249px 533px #fff, 462px 11px #fff, 1486px 768px #fff, 789px 179px #fff,
        1136px 878px #fff, 550px 459px #fff, 1337px 536px #fff, 780px 447px #fff,
        1545px 1643px #fff, 255px 1236px #fff, 1637px 1955px #fff,
        72px 450px #fff, 830px 1589px #fff, 772px 753px #fff, 1030px 1934px #fff,
        194px 1936px #fff, 1499px 1685px #fff, 346px 1727px #fff,
        1904px 1589px #fff, 948px 705px #fff, 2px 1368px #fff, 836px 781px #fff,
        703px 1620px #fff, 980px 552px #fff, 100px 685px #fff,
        1881px 1314px #fff, 631px 348px #fff, 1421px 651px #fff,
        1574px 759px #fff, 1442px 349px #fff, 198px 1054px #fff,
        145px 1742px #fff, 498px 55px #fff, 636px 1234px #fff, 344px 1931px #fff,
        1082px 1482px #fff, 1200px 721px #fff, 1031px 491px #fff,
        761px 1023px #fff, 770px 1044px #fff, 886px 1262px #fff,
        103px 1396px #fff, 1279px 248px #fff, 1502px 1317px #fff,
        1248px 683px #fff, 660px 654px #fff, 607px 1062px #fff, 3px 66px #fff,
        1947px 255px #fff, 118px 1444px #fff, 1584px 1168px #fff,
        1585px 1673px #fff, 472px 40px #fff, 1497px 1137px #fff,
        1811px 1003px #fff, 1821px 1362px #fff, 588px 1306px #fff,
        569px 1973px #fff, 1493px 520px #fff, 130px 145px #fff,
        205px 1501px #fff, 1038px 1702px #fff, 725px 1716px #fff,
        1366px 1037px #fff, 591px 132px #fff, 1924px 1320px #fff,
        1935px 345px #fff, 1622px 956px #fff, 251px 1014px #fff,
        1845px 487px #fff, 1597px 1118px #fff, 606px 965px #fff,
        1149px 859px #fff, 487px 332px #fff, 854px 181px #fff, 1305px 600px #fff,
        1689px 371px #fff, 127px 1453px #fff, 1523px 1854px #fff,
        1291px 771px #fff, 1927px 1491px #fff, 262px 1813px #fff,
        525px 897px #fff, 1035px 752px #fff, 1410px 1435px #fff,
        131px 1705px #fff;
      animation: animStar 150s linear infinite;

      &:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: 1664px 1057px #fff, 641px 639px #fff, 1651px 259px #fff,
          211px 216px #fff, 873px 1347px #fff, 549px 121px #fff,
          1651px 221px #fff, 1527px 737px #fff, 1912px 159px #fff,
          225px 1241px #fff, 1478px 1443px #fff, 1640px 60px #fff,
          1098px 1355px #fff, 34px 30px #fff, 1249px 533px #fff, 462px 11px #fff,
          1486px 768px #fff, 789px 179px #fff, 1136px 878px #fff,
          550px 459px #fff, 1337px 536px #fff, 780px 447px #fff,
          1545px 1643px #fff, 255px 1236px #fff, 1637px 1955px #fff,
          72px 450px #fff, 830px 1589px #fff, 772px 753px #fff,
          1030px 1934px #fff, 194px 1936px #fff, 1499px 1685px #fff,
          346px 1727px #fff, 1904px 1589px #fff, 948px 705px #fff,
          2px 1368px #fff, 836px 781px #fff, 703px 1620px #fff, 980px 552px #fff,
          100px 685px #fff, 1881px 1314px #fff, 631px 348px #fff,
          1421px 651px #fff, 1574px 759px #fff, 1442px 349px #fff,
          198px 1054px #fff, 145px 1742px #fff, 498px 55px #fff,
          636px 1234px #fff, 344px 1931px #fff, 1082px 1482px #fff,
          1200px 721px #fff, 1031px 491px #fff, 761px 1023px #fff,
          770px 1044px #fff, 886px 1262px #fff, 103px 1396px #fff,
          1279px 248px #fff, 1502px 1317px #fff, 1248px 683px #fff,
          660px 654px #fff, 607px 1062px #fff, 3px 66px #fff, 1947px 255px #fff,
          118px 1444px #fff, 1584px 1168px #fff, 1585px 1673px #fff,
          472px 40px #fff, 1497px 1137px #fff, 1811px 1003px #fff,
          1821px 1362px #fff, 588px 1306px #fff, 569px 1973px #fff,
          1493px 520px #fff, 130px 145px #fff, 205px 1501px #fff,
          1038px 1702px #fff, 725px 1716px #fff, 1366px 1037px #fff,
          591px 132px #fff, 1924px 1320px #fff, 1935px 345px #fff,
          1622px 956px #fff, 251px 1014px #fff, 1845px 487px #fff,
          1597px 1118px #fff, 606px 965px #fff, 1149px 859px #fff,
          487px 332px #fff, 854px 181px #fff, 1305px 600px #fff,
          1689px 371px #fff, 127px 1453px #fff, 1523px 1854px #fff,
          1291px 771px #fff, 1927px 1491px #fff, 262px 1813px #fff,
          525px 897px #fff, 1035px 752px #fff, 1410px 1435px #fff,
          131px 1705px #fff;
      }
    }
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}

// 카드
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  .card-item {
    overflow: hidden;
    position: relative;
    width: 420px;
    height: 500px;
    border-radius: 30px;
    margin-right: 30px;
    &.card-1 {
      background: #ffffff;
      .top-bg {
        border-top-color: #ffd24c;
      }
      .bottom-bg {
        border-bottom-color: #92b4ec;
      }
    }
    &.card-2 {
      background: #76ba99;
      .top-bg {
        border-top-color: #ffdcae;
      }
      .bottom-bg {
        border-bottom-color: #adcf9f;
      }
    }
    &.card-3 {
      background: #4d4c7d;
      .top-bg {
        border-top-color: #e9d5da;
      }
      .bottom-bg {
        border-bottom-color: #827397;
      }
    }
    &.card-4 {
      background: #4d4c7d;
      .top-bg {
        border-top-color: #e9d5da;
      }
      .bottom-bg {
        border-bottom-color: #827397;
      }
    }
    .top-bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 0;
      height: 0;
      border-left: 0 solid transparent;
      border-top-style: solid;
      border-right-style: solid;
      border-right-color: transparent;
      -webkit-transition: border-top-width 0.3s, border-right-width 0.3s;
      transition: border-top-width 0.3s, border-right-width 0.3s;
      border-top-width: 205px;
      border-right-width: 253px;
    }
    .bottom-bg {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 10;
      width: 0;
      height: 0;
      border-right: 0 solid transparent;
      border-bottom-style: solid;
      border-left-style: solid;
      border-left-color: transparent;
      -webkit-transition: border-bottom-width 0.3s, border-left-width 0.3s;
      transition: border-bottom-width 0.3s, border-left-width 0.3s;
      border-bottom-width: 312px;
      border-left-width: 172px;
    }
    &:after {
      display: block;
      clear: both;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      border-radius: 30px;
      border: 5px solid var(--fontColor);
      z-index: 10;
    }
    .card-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 40px;
      border-radius: 30px;
      z-index: 5;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

// 네온타이틀
.neon {
  height: inherit;
  padding: 0;
}
.neon-wrap {
  position: relative;
  background-color: #000;
  background-blend-mode: hard-light;
  background-image: url("https://res.cloudinary.com/jrying/image/upload/q_auto:good/v1493223181/mXd5dMn_gqciqp.png");
  .title-neon {
    min-width: 1000px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: flick 0.1s ease-in-out infinite;
    .blue-neon {
      display: none;
      width: 600px;
      height: 240px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      box-shadow: 0 0 2px 4px rgba(200, 230, 255, 0.5),
        0 -2px 2px 3px rgba(200, 230, 255, 0.5) inset,
        0 0 2px 10px rgba(100, 150, 255, 0.9),
        0 0 2px 7px rgba(100, 150, 255, 1) inset,
        0 0 12px 13px rgba(0, 50, 255, 0.9),
        0 0 12px 11px rgba(0, 50, 255, 0.7) inset,
        0 8px 30px 18px rgba(0, 0, 0, 0.8),
        0 8px 25px 12px rgba(0, 0, 0, 0.7) inset;
    }
    .red-neon {
      font-size: 160px;
      font-family: Montserrat, sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      padding-top: 20px;
      text-align: center;
      color: rgba(255, 232, 50, 0.9);
      text-shadow: 0 0 5px rgba(255, 245, 0, 1), 0 0 28px rgba(255, 44, 0, 0.9),
        0 8px 38px black, 0 8px 10px black, 0 2px 12px black,
        0 0 50px rgba(255, 120, 0, 0.5), 0 0 24px rgba(255, 255, 255, 0.8);
      -webkit-text-stroke: 1px rgba(255, 160, 0, 0.45);
    }
  }
}

@keyframes flick {
  0%,
  100% {
    background-image: radial-gradient(
      rgba(255, 190, 0, 0.4) 0%,
      rgba(70, 140, 255, 0.2) 52%,
      transparent 70%
    );
  }
  40% {
    background-image: radial-gradient(
      rgba(255, 190, 0, 0.4) 0%,
      rgba(70, 140, 255, 0.2) 50%,
      transparent 68%
    );
  }
}


.rollingbanner {
  width: 100%;
  height: 60px;
  background: linear-gradient(90deg, #C383FF 0%, #6066FF 100%);    
  a {
      color: #F2F2F2;
      white-space: nowrap;
  }
  
  .wrap, .wrap2 {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 60px;
      margin: 0 auto;
      box-sizing: border-box;
  }
  .roller, .roller2 {
      height: 100%;
      ul {
          display: flex;
          align-items: center;
          height: 60px;    
          margin: 0;
          padding: 0;
          li {
              font-size: 20px;
              line-height: 21px;
              font-weight: bold;
              font-family: "Gmarket Sans";
              letter-spacing: -0.04em;                                
              flex-shrink: 0;
              padding-right: 20px;
              list-style: none;
              
          }        
      }
  }
}

.rollingbanner > .wrap, .rollingbanner > .wrap2{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  box-sizing: border-box;    
}
.roller, .roller2{
  position: absolute;
  height: 100%;
}

.roller > ul, .roller2 > ul{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
  list-style: none;
  height: 60px;    
}

.roller > ul > li, .roller2 > ul > li{
  padding-right: 20px;
}

// 롤링텍스트 배경
.text-roll-area {
  overflow: hidden;
  position: relative;
  .ai-lottie {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
  .band-wrap {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-20%);
    .band-box {
      .slide-box {
        font-size: 40px;
        color: var(--fontColor);
      }
    }
  }
  .rolling-bg-wrap {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-20%);
    > .text-wrap {
      position: relative;
      height: 121px;
      margin: 0 auto;
      box-sizing: border-box;
      overflow: hidden;
    }
  }
  .roller {
    position: absolute;
    height: 100%;
    > ul {
      margin: 0;
      padding: 1px 0;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      > li {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-right: 16px;
        font-size: 40px;
        -webkit-text-stroke: 2px var(--fontColor);
        color: transparent;
      }
    }
    &.original {
      animation: 33s linear 0s infinite normal forwards running rollingleft1;
    }
    &.clone {
      animation: 33s linear 0s infinite normal none running rollingleft2;
    }
  }
  .bounce-object-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .object {
      position: absolute;
      width: 160px;
      height: 160px;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-direction: alternate;
      transition: all 0.5s ease-in-out;
      &.obj-1 {
        left: 10%;
        top: 10%;
        animation-name: aniFloat;
        animation-duration: 2s;
        animation-delay: 1s;
      }
      &.obj-2 {
        left: 50%;
        top: 80%;
        animation-name: aniFloat aniRotate;
        animation-duration: 2s;
        animation-delay: 1s;
      }
      &.obj-3 {
        left: 90%;
        top: 30%;
        animation-name: aniFloat;
        animation-duration: 2s;
        animation-delay: 1s;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .space-effect {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--spaceBG);
  }
}

@keyframes rollingleft1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rollingleft2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes aniFloat {
  0% {
    margin-top: -20px;
  }
  50% {
    margin-top: 0;
  }
  100% {
    margin-top: 20px;
  }
}

@keyframes aniRotate {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


.band-wrap {
  .band-box {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 60px;
    animation: rolling 120s linear;
    animation-duration: 300s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    .slide-box {
      flex-shrink: 0;
      font-size: 20px;
      line-height: 21px;
      font-weight: bold;
      letter-spacing: -0.04em;
      color: #f2f2f2;
      margin-right: 20px;
    }
    .band-box-3 {
      animation-duration: 240s;
    }
    .band-box-4 {
      animation-duration: 340s;
    }
  }
}

@keyframes rolling {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.tech-area {
  position: relative;
  display: flex;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1612742491367-04acdf256856?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1942&q=80") center center no-repeat;
  .stack-obj {
  }
  .stroke-text-box {
    font-size: 80px;
    font-weight: bold;
    -webkit-text-stroke-color: var(--fontColor);
    -webkit-text-stroke-width: 0.02em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    -webkit-transition: background-size 0.5s
      cubic-bezier(0.67, 0.01, 0.15, 0.98);
    transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    background-image: linear-gradient(
      135deg,
      var(--fontColor) 0%,
      var(--fontColor) 50%,
      transparent 50.1%
    );
    background-size: 0% 100%;
    animation: changeBgz 1s linear infinite;
  }
  &:after {
    display: block;
    clear: both;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

@keyframes changeBgz {
  0% {
    background-size: 0% 100%;
  }
  100% {
    background-size: 220% 100%;
  }
}

.sticky-bg {
  .spriteImg-box {
    width: 100%;
    height: 100%;
    background-image: url("https://og.kakaobank.io/view/f1e10e79-373b-4fae-a781-f95c92824d6c");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: cover;
  }
}

.grid-container {
  padding: 20px;
  .grid {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fff;
    color: #444;
    .grid-item {
      box-shadow: -1px -1px 30px 5px var(--fontColor);
      border-radius: 5px;
      padding: 20px;
      box-sizing: border-box;
      .image-wrapper {
        display: block;
        width: 100%;
      }
      .item-text {
        padding: 20px;
        .title-text {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 20px;
          font-family: Montserrat, sans-serif;
        }
        .sub-text {
          font-size: 16px;
        }
      }
      &.item-a {
        display: flex;
        grid-column: 1 / span 2;
      }
      &.item-b {
        grid-column: 3;
        grid-row: 1 / span 2;
      }
      &.item-c {
        grid-column: 1;
        grid-row: 2;
      }
      &.item-d {
        grid-column: 2;
        grid-row: 2;
      }
      &.item-e {
        grid-column: 1;
        grid-row: 3;
      }
      &.item-f {
        grid-column: 2;
        grid-row: 3;
      }
      &.item-g {
        grid-column: 3;
        grid-row: 3;
      }
    }
  }
}

// .card {
//   background: #e04d4d;
//   height: 145px;
//   width: 30%;
//   opacity: 0;
// }

.pin {
  position: fixed;
  bottom: 60px;
  right: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 10px;
  background: white;
  box-shadow: 0 1px 5px -2px rgba(var(--black), 0.5);
  transition: transform 100ms linear;
  p {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 600;
    color: black;
    position: relative;
    top: 50%;
    transform: translatey(-50%);
  }
}

.floating-object {
  position: fixed;
  width: 100px;
  height: 100px;
  z-index: 5;
  background: orangered;
  right: 30px;
  bottom: 30px;
}

// ios mac
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    // .imgBox {
    //     flex: 2;
    // }
  }
}

@media screen and (max-width: 1400px) {
  .grid-container {
    .grid {
      grid-template-columns: 1fr 1fr;
      .grid-item {
        &.item-a {
          grid-column: 1 / span 2;
        }

        &.item-b {
          grid-column: 3;
          grid-row: 1 / span 2;
        }

        &.item-c {
          grid-column: 1;
          grid-row: 2;
        }

        &.item-d {
          grid-column: 2;
          grid-row: 2;
        }

        &.item-e {
          grid-column: 1;
          grid-row: 3;
        }

        &.item-f {
          grid-column: 2;
          grid-row: 3;
        }

        &.item-g {
          grid-column: 3;
          grid-row: 3;
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
}
