@import "variables";

@function icon($iconName, $color:666666) {
    $iconList: ( 
        ic_share: "%0A%3Csvg width='30' height='30' viewBox='0 0 32 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='26.1611' cy='6.64806' r='4.47286' stroke='%23#{$color}' stroke-width='2.7359'/%3E%3Ccircle cx='5.84081' cy='18.4152' r='4.47286' stroke='%23#{$color}' stroke-width='2.7359'/%3E%3Ccircle cx='26.1611' cy='28.3519' r='4.47286' stroke='%23#{$color}' stroke-width='2.7359'/%3E%3Cpath d='M9.8996 14.8202L21.7088 7.91118L23.1049 10.1846L11.2957 17.0935L9.8996 14.8202Z' fill='%23#{$color}'/%3E%3Cpath d='M22.8008 25.6947L11.4293 19.4726L10.0332 21.746L21.4047 27.9681L22.8008 25.6947Z' fill='%23#{$color}'/%3E%3C/svg%3E%0A",
        ic_url: "%0A%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.04688 6.02584L9 2.93848L11.9531 6.02584' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 12.0228V2.94043' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.75 9.99707V15.2897C15.75 15.4456 15.6907 15.5952 15.5852 15.7055C15.4798 15.8158 15.3367 15.8778 15.1875 15.8778H2.8125C2.66332 15.8778 2.52024 15.8158 2.41475 15.7055C2.30926 15.5952 2.25 15.4456 2.25 15.2897V9.99707' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A",
        ic_calling: "%0A%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.30772 2.49071C1.50639 2.16113 2.60167 0.964681 3.38217 1.0008C3.61568 1.0208 3.82209 1.1614 3.98981 1.32523H3.99045C4.3749 1.7019 5.47792 3.12344 5.53984 3.42271C5.69272 4.15671 4.8174 4.57982 5.08509 5.31961C5.76754 6.98947 6.94346 8.16528 8.61412 8.84703C9.35334 9.11534 9.77649 8.24074 10.5105 8.39296C10.8098 8.45552 12.2322 9.5578 12.6082 9.94286C12.7714 10.1099 12.9133 10.3169 12.9327 10.5504C12.9617 11.3728 11.691 12.4828 11.4433 12.6247C10.8589 13.0433 10.0964 13.0356 9.16692 12.6034C6.5732 11.5244 2.42816 7.45773 1.329 4.76622C0.908434 3.84195 0.880053 3.07442 1.30772 2.49071Z' fill='%23#{$color}' stroke='%23#{$color}' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.57788 1.15723C10.903 1.41536 12.7388 3.2493 13.0001 5.57376' stroke='%23#{$color}' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.57788 3.38184C9.68955 3.59852 10.5582 4.46713 10.7748 5.5788' stroke='%23#{$color}' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A",
        ic_search: "%0A%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.3226 12.3223C12.5007 12.1442 12.7896 12.1442 12.9677 12.3223L15.8581 15.2127C16.0363 15.3909 16.0363 15.6797 15.8581 15.8578C15.68 16.036 15.3912 16.036 15.213 15.8578L12.3226 12.9674C12.1445 12.7893 12.1445 12.5004 12.3226 12.3223Z' fill='%23#{$color}' stroke='%23#{$color}' stroke-width='0.4'/%3E%3Ccircle cx='8.09' cy='8.09' r='6.09' stroke='%23#{$color}'/%3E%3C/g%3E%3C/svg%3E%0A",
        ic_arrow_right: "%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0998 11.6569L9.47153 16.2852L10.5 17.3137L16.1569 11.6569L15.1284 10.6284L10.5 6.00004L9.47144 7.02856L14.0998 11.6569Z' fill='%23#{$color}'/%3E%3C/svg%3E%0A",
        ic_selfcheckin: "%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.47284 11.4921C4.09606 10.9536 4.11941 10.3464 4.5 10C5.29923 9.39639 5.85816 9.68768 6.65321 10.6788L7.41875 11.655V10.6788V4.63248C7.41875 4.17635 7.845 3.80595 8.3664 3.80595C8.89161 3.80595 9.31406 4.17635 9.31406 4.63248V8.85258V3.82653C9.31406 3.37039 9.74032 3 10.2617 3C10.7869 3 11.2094 3.37039 11.2094 3.82653V8.80457V4.76623C11.2094 4.3101 11.6356 3.93971 12.157 3.93971C12.6822 3.93971 13.1047 4.3101 13.1047 4.76623V9.68768V6.47074C13.1047 6.0146 13.5309 5.64421 14.0523 5.64421C14.5776 5.64421 15 6.0146 15 6.47074V12.6634C15 14.7006 13.017 17 10.6802 17C8.34339 17 7 15.5 6 14L4.47284 11.4921Z' stroke='%23#{$color}' stroke-width='1.2' stroke-miterlimit='10' stroke-linejoin='round'/%3E%3Cpath d='M2.5 16.541C2.5 16.2649 2.27614 16.041 2 16.041C1.72386 16.041 1.5 16.2649 1.5 16.541H2.5ZM2 17.9194H1.5C1.5 18.1955 1.72386 18.4194 2 18.4194V17.9194ZM3.37838 18.4194C3.65452 18.4194 3.87838 18.1955 3.87838 17.9194C3.87838 17.6433 3.65452 17.4194 3.37838 17.4194V18.4194ZM1.5 16.541V17.9194H2.5V16.541H1.5ZM2 18.4194H3.37838V17.4194H2V18.4194Z' fill='%23#{$color}'/%3E%3Cpath d='M16.6216 17.4189C16.3454 17.4189 16.1216 17.6428 16.1216 17.9189C16.1216 18.1951 16.3454 18.4189 16.6216 18.4189L16.6216 17.4189ZM18 17.9189L18 18.4189C18.2761 18.4189 18.5 18.1951 18.5 17.9189L18 17.9189ZM18.5 16.5406C18.5 16.2644 18.2761 16.0406 18 16.0406C17.7238 16.0406 17.5 16.2644 17.5 16.5406L18.5 16.5406ZM16.6216 18.4189L18 18.4189L18 17.4189L16.6216 17.4189L16.6216 18.4189ZM18.5 17.9189L18.5 16.5406L17.5 16.5406L17.5 17.9189L18.5 17.9189Z' fill='%23#{$color}'/%3E%3Cpath d='M17.5 3.37891C17.5 3.65505 17.7239 3.87891 18 3.87891C18.2761 3.87891 18.5 3.65505 18.5 3.37891L17.5 3.37891ZM18 2.00053L18.5 2.00053C18.5 1.72439 18.2761 1.50053 18 1.50053L18 2.00053ZM16.6216 1.50053C16.3455 1.50053 16.1216 1.72439 16.1216 2.00053C16.1216 2.27667 16.3455 2.50053 16.6216 2.50053L16.6216 1.50053ZM18.5 3.37891L18.5 2.00053L17.5 2.00053L17.5 3.37891L18.5 3.37891ZM18 1.50053L16.6216 1.50053L16.6216 2.50053L18 2.50053L18 1.50053Z' fill='%23#{$color}'/%3E%3Cpath d='M3.37842 2.5C3.65456 2.5 3.87842 2.27614 3.87842 2C3.87842 1.72386 3.65456 1.5 3.37842 1.5L3.37842 2.5ZM2.00004 2L2.00004 1.5C1.7239 1.5 1.50004 1.72386 1.50004 2L2.00004 2ZM1.50004 3.37838C1.50004 3.65452 1.7239 3.87838 2.00004 3.87838C2.27618 3.87838 2.50004 3.65452 2.50004 3.37838L1.50004 3.37838ZM3.37842 1.5L2.00004 1.5L2.00004 2.5L3.37842 2.5L3.37842 1.5ZM1.50004 2L1.50004 3.37838L2.50004 3.37838L2.50004 2L1.50004 2Z' fill='%23#{$color}'/%3E%3C/svg%3E%0A",
        ic_arrow_down: "%0A%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00028 5.35665L1.37199 0.728362L0.343518 1.75684L6.00037 7.41369L7.02885 6.38522L11.6572 1.75679L10.6287 0.728272L6.00028 5.35665Z' fill='%23999999'/%3E%3C/svg%3E%0A",
        ic_direction: "%0A%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.3734 9.83656L8.29139 9.59526L8.04795 9.51985L2.4454 7.78435L16.0599 1.94708L10.3293 15.5914L8.3734 9.83656Z' stroke='%23#{$color}'/%3E%3C/svg%3E%0A",
        ic_gps: "%0A%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='8.5' stroke='%23#{$color}'/%3E%3Crect x='13.5' y='8.5' width='4' height='1' fill='%23#{$color}'/%3E%3Crect x='0.5' y='8.5' width='4' height='1' fill='%23#{$color}'/%3E%3Crect x='8.5' y='4.5' width='4' height='1' transform='rotate(-90 8.5 4.5)' fill='%23#{$color}'/%3E%3Crect x='8.5' y='17.5' width='4' height='1' transform='rotate(-90 8.5 17.5)' fill='%23#{$color}'/%3E%3C/svg%3E%0A",
        ic_chatting: "%0A%3Csvg width='24' height='21' viewBox='0 0 24 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9805 1.12012C6.18069 1.12012 1.48047 4.80868 1.48047 9.35856C1.48047 12.0605 3.13843 14.4583 5.69871 15.9607C6.06852 16.1749 5.95634 16.597 5.95634 16.597C5.95634 16.597 5.64941 18.1919 5.46697 19.1846C5.34986 19.8257 5.50395 20.1201 5.82075 20.1201C5.99332 20.1201 6.21521 20.0325 6.46791 19.8646C7.1804 19.3902 9.83067 17.6785 9.83067 17.6785C9.83067 17.6785 10.076 17.507 10.463 17.507C10.5099 17.507 10.5592 17.5094 10.611 17.5155C11.019 17.5508 11.6045 17.5958 11.9805 17.5958C17.779 17.5958 22.4805 13.9084 22.4805 9.35856C22.4805 4.80868 17.779 1.12012 11.9805 1.12012' stroke='%23#{$color}' stroke-width='1.5'/%3E%3C/svg%3E%0A",
        ic_like: "%0A%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.1005 4C15.1629 4 13.2903 5.5749 12.2995 7.21001C11.3073 5.5749 9.44376 4 7.5075 4C4.4661 4 2 6.78545 2 9.79019C2 16.7359 10.7372 21.7489 12.1202 22.4991C12.2397 22.5632 12.3683 22.5632 12.4878 22.4991C13.8708 21.7489 22.608 16.7359 22.608 9.79019C22.608 6.78545 20.1419 4 17.1005 4Z' stroke='%23#{$color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A",
        ic_calendar: "%0A%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_10702_95181' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='2' y='2' width='21' height='21'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.2998 2.50098H22.8342V22.2441H2.2998V2.50098Z' fill='%23#{$color}'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_10702_95181)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.5324 20.7204H5.6018C4.62136 20.7204 3.8238 19.9228 3.8238 18.9424V11.104H21.3104V18.9424C21.3104 19.9228 20.5129 20.7204 19.5324 20.7204ZM5.6018 5.59724H7.57919V7.07298C7.57919 7.49335 7.91955 7.83498 8.34119 7.83498C8.76283 7.83498 9.10319 7.49335 9.10319 7.07298V5.59724H16.031V7.07298C16.031 7.49335 16.3727 7.83498 16.793 7.83498C17.2147 7.83498 17.555 7.49335 17.555 7.07298V5.59724H19.5324C20.5129 5.59724 21.3104 6.3948 21.3104 7.37524V9.57996H3.8238V7.37524C3.8238 6.3948 4.62136 5.59724 5.6018 5.59724ZM19.5324 4.07324H17.555V3.26298C17.555 2.84134 17.2147 2.50098 16.793 2.50098C16.3727 2.50098 16.031 2.84134 16.031 3.26298V4.07324H9.10319V3.26298C9.10319 2.84134 8.76283 2.50098 8.34119 2.50098C7.91955 2.50098 7.57919 2.84134 7.57919 3.26298V4.07324H5.6018C3.78189 4.07324 2.2998 5.55533 2.2998 7.37524V18.9424C2.2998 20.7636 3.78189 22.2444 5.6018 22.2444H19.5324C21.3536 22.2444 22.8344 20.7636 22.8344 18.9424V7.37524C22.8344 5.55533 21.3536 4.07324 19.5324 4.07324Z' fill='%23#{$color}'/%3E%3C/g%3E%3C/svg%3E%0A",
    );
  $icon: map-get($iconList, $iconName);
  @return url("data:image/svg+xml;charset=utf8,#{$icon}");
}
 

/*
    [color class name]
    grey #666666
    light-grey #999999
    yellow #FFE500
    white #ffffff
    black #000000
*/

.icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    &.ic_share {
        background-image: icon(ic_share);
        &.grey {
            background-image: icon(ic_share, '666666');
        }
    }   
    &.ic_url {
        background-image: icon(ic_url);
        &.yellow {
            background-image: icon(ic_url, 'FFE500');
        }
    }
    &.ic_calling {
        background-image: icon(ic_calling);
        &.white {
            background-image: icon(ic_calling, 'ffffff');
        }
    }
    &.ic_search {
        background-image: icon(ic_search);
        &.black {
            background-image: icon(ic_search, '000000');
        }
    }
    &.ic_arrow_right {
        background-image: icon(ic_arrow_right);
        &.light-grey {
            background-image: icon(ic_arrow_right, '999999');
        }
    }
    &.ic_selfcheckin {
        background-image: icon(ic_selfcheckin);
        &.black {
            background-image: icon(ic_selfcheckin, '000000');
        }
    }
    &.ic_arrow_down {
        background-image: icon(ic_arrow_down);
        &.black {
            background-image: icon(ic_arrow_down, '000000');
        }
    }
    &.ic_direction {
        background-image: icon(ic_direction);
        &.black {
            background-image: icon(ic_direction, '000000');
        }
    }
    &.ic_gps {
        background-image: icon(ic_gps);
        &.black {
            background-image: icon(ic_gps, '000000');
        }
    }
    &.ic_chatting {
        background-image: icon(ic_chatting);
        &.black {
            background-image: icon(ic_chatting, '000000');
        }
        &.white {
            background-image: icon(ic_chatting, 'ffffff');
        }
    }
    &.ic_like {
        background-image: icon(ic_like);
        &.white {
            background-image: icon(ic_like, 'ffffff');
        }
    }
    &.ic_calendar {
        background-image: icon(ic_calendar);
        &.white {
            background-image: icon(ic_calendar, 'ffffff');
        }
    }
}
